.active {
  background-color: darkblue;
  color: white;
}
.inline {
  padding: 3px 6px;
  cursor: pointer;
  display: inline;
}
.btn {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: darkblue;
  color: white;
}
